<div class="card">
    <p-table [value]="products" dataKey="name" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
        <tr>
            <th style="width: 5rem"></th>
            <th pSortableColumn="name">Cliente <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="price">Celular</th>
            <th pSortableColumn="category">Status <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="inventoryStatus">Action</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-expanded="expanded">
        <tr>
            <td>
            <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="product"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.email }}</td>
            <td>{{ product.celular }}</td>
            <td>
            <p-button label="Active" styleClass="p-button-success p-button-text"></p-button>
            </td>
            <td>
            <i class="pi pi-pencil" style="color: rgb(22, 42, 172)"></i>
            </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-product>
        <tr>
            <td colspan="7">
            <div class="p-3">
                <p-table [value]="product.orders" dataKey="id">
                <ng-template pTemplate="header">
                    <tr>
                    <th pSortableColumn="id">Cliente <p-sortIcon field="price"></p-sortIcon></th>
                    <th pSortableColumn="customer">Email <p-sortIcon field="customer"></p-sortIcon></th>
                    <th pSortableColumn="date">Tatuagem</th>
                    <th>Tatuador</th>
                    <th>Nº de sessoes</th>
                    <th>Data final</th>
                    <th>Valor</th>
                    <th>Custo total</th>
                    <th pSortableColumn="amount">Status <p-sortIcon field="amount"></p-sortIcon></th>
                    <th pSortableColumn="status">Actions</th>
                    <th style="width: 4rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.tatuagem }}</td>
                    <td>{{ order.tatuador }}</td>
                    <td>{{ order.numeroSessoes }}</td>
                    <td>{{ order.dataFinal }}</td>
                    <td>{{ order.valor }}</td>
                    <td>{{ order.custoTotal }}</td>
                    <td>
                        <p-button label="Active" styleClass="p-button-success p-button-text"></p-button>
                    </td>
                    <td>
                        <i class="pi pi-pencil" style="color: rgb(53, 76, 205)"></i>
                    </td>
                    <td></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                    <td colspan="12">There are no user registered yet.</td>
                    </tr>
                </ng-template>
                </p-table>
            </div>
            </td>
        </tr>
        </ng-template>
    </p-table>
</div>
