<div class="card">
    <p-table [value]="products" dataKey="name" [tableStyle]="{ 'min-width': '60rem' }">
        <ng-template pTemplate="header">
        <tr>
            <th style="width: 5rem"></th>
            <th pSortableColumn="name">Cliente <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon></th>
            <th pSortableColumn="price">Celular</th>
            <th pSortableColumn="category">Status <p-sortIcon field="category"></p-sortIcon></th>
            <th pSortableColumn="inventoryStatus">Action</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-expanded="expanded">
        <tr>
            <td>
            <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="product"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
            </td>
            <td>{{ product.name }}</td>
            <td>{{ product.email }}</td>
            <td>{{ product.celular }}</td>
            <td>
            <p-button label="Active" styleClass="p-button-success p-button-text"></p-button>
            </td>
            <td>
            <i class="pi pi-pencil" style="color: rgb(22, 42, 172)"></i>
            </td>
        </tr>
        </ng-template>
    </p-table>
</div>
