<div fxLayout="column" fxLayoutGap="40px">
    <div class="page-title">Controle de Estoque</div>

    <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="18rem">
        <div fxLayout="row" fxLayoutAlign="start start">
            <app-search (searchTextChanged)="onSearchTextChanged($event)"></app-search>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="15px">
            <app-custom-button *ngIf="!editMode" label="Alterar Quantia" buttonClass="p-button-raised p-button-text custom-small-button" (click)="toggleEditMode()"></app-custom-button>
            <app-custom-button *ngIf="!editMode" label="Adicionar" buttonClass="p-button-raised p-button-text p-button-success custom-small-button"(click)="navigateTo(addItemPath)"></app-custom-button>
            <app-custom-button *ngIf="editMode" label="Salvar Edição" buttonClass="p-button-raised p-button-text p-button-success custom-small-button" (click)="saveChanges()"></app-custom-button>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start">
        <app-inventory-table [editMode]="editMode"></app-inventory-table>
    </div>
</div>


