.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* altura total da tela */
}

.content {
    flex: 1; /* ocupa todo o espaço disponível na altura */
    display: flex;
}

.page-content {
    flex: 1; /* ocupa todo o espaço disponível na largura */
    padding: 20px; /* espaçamento interno */
}

.page-title {
    top: 40px;
    left: 140px;
    color: #cb9a41;
    font-size: 28px;
    font-weight: bold;
}

.add-button {
    margin-top: 10px;
    background-color: #009F81;
    color: #ffffff;
    float: right;
    font-size: 14px;
    border-radius: 8px;
    border: none;
    padding: 6px;
}