.custom-small-button {
    font-size: 14px;
    padding: 8px 16px;
}

.custom-xs-button {
    font-size: 12px;
    padding: 4px 8px;
}

.custom-filter-button {
    font-size: 14px;
    padding: 8px;
}