<div class="page-title" style="margin-bottom: 40px;">Agenda</div>

<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="15px">
    <app-custom-button label="Adicionar" buttonClass="p-button-raised p-button-text p-button-success custom-small-button"></app-custom-button>
    <app-custom-button label="Bloquear Horário" buttonClass="p-button-raised p-button-text p-button-danger custom-small-button"></app-custom-button>
    <app-custom-button label="Liberar Horário" buttonClass="p-button-raised p-button-text p-button-secondary custom-small-button"></app-custom-button>
</div>

<div fxLayout="row" fxLayoutAlign="start start" style="margin-top: 40px;">
    <app-search (searchTextChanged)="onSearchTextChanged($event)"></app-search>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
    <!-- Componente de calendário aqui -->
</div>


