<p-table [value]="products" [tableStyle]="{ 'min-width': '50rem', 'font-size': '12px' }">
    <ng-template pTemplate="header">
        <tr>
        <th>Categorias</th>
        <th [style]="{'max-width': '5rem'}">Sub categorias</th>
        <th>Material</th>
        <th>Data Compra</th>
        <th>Validade</th>
        <th>Alertas</th>
        <th>Quantidades</th>
        <th *ngIf="editMode"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr [ngClass]="{
            'low-stock': isLowStock(product.quantidades),
            'near-expiration': isNearExpiration(product.validade)
        }">
        <td>{{ product.categorias }}</td>
        <td>{{ product.subcategorias }}</td>
        <td>{{ product.material }}</td>
        <td>{{ product.dataCompra }}</td>
        <td>{{ product.validade }}</td>
        <td [style]="{'min-width': '5rem'}">
            <ng-container *ngIf="isLowStock(product.quantidades); else expirationAlert">
            <p-tag value="Baixo estoque, repor." severity="warning" class="inventory-alert"></p-tag>
            </ng-container>
            <ng-template #expirationAlert>
            <ng-container *ngIf="isNearExpiration(product.validade); else defaultAlert">
                <p-tag value="Próximo do Vencimento" severity="danger" class="inventory-alert"></p-tag>
            </ng-container>
            <ng-template #defaultAlert>
                <p-tag value=""></p-tag>
            </ng-template>
            </ng-template>
        </td>
        <td class="quantity-cell">
            <div class="quantity-container" *ngIf="editMode; else displayQuantity">
            <p-inputNumber
                *ngIf="product"
                [(ngModel)]="product.quantidades"
                [showButtons]="true"
                buttonLayout="horizontal"
                incrementButtonIcon="pi pi-plus"
                decrementButtonIcon="pi pi-minus"
                [step]="1"
                incrementButtonClass="p-button-success"
                decrementButtonClass="p-button-danger"
                inputStyleClass="custom-input-number p-inputnumber-sm"
            ></p-inputNumber>
            </div>
            <ng-template #displayQuantity>
            {{ product.quantidades }}
            </ng-template>
        </td>
        </tr>
    </ng-template>
</p-table>
