<div class="card">
    <p-toast></p-toast>
    <p-table
        #inventoryTable
        [rowHover]="true"
        [value]="inventories"
        [tableStyle]="{ 'min-width': '75rem' }"
        [paginator]="true" [rows]="5"
        [globalFilterFields]="['category', 'subcategory', 'description']"
    >
    <ng-template pTemplate="caption">
        <div fxLayoutGap="50rem">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input
                    pInputText
                    type="text"
                    (input)="inventoryTable.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Pesquisar"
                    style="min-width: 25rem"
                    />
                </span>
                <button
                    pButton
                    pRipple
                    label="Adicionar"
                    icon="pi pi-plus"
                    class="p-button-raised p-button-text p-button-success"
                    (click)="addNew()"
                ></button>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="category" style="min-width:10rem">Categoria <p-sortIcon field="category"></p-sortIcon></th>
                <th pSortableColumn="subcategory" style="min-width:11rem">Sub categoria <p-sortIcon field="subcategory"></p-sortIcon></th>
                <th pSortableColumn="description" style="min-width:10rem">Descrição <p-sortIcon field="description"></p-sortIcon></th>
                <th pSortableColumn="purchaseDate" style="min-width:10rem">Data Compra <p-sortIcon field="purchaseDate"></p-sortIcon></th>
                <th pSortableColumn="expirationDate" style="min-width:10rem">Validade <p-sortIcon field="expirationDate"></p-sortIcon></th>
                <th pSortableColumn="price" style="min-width:10rem">Preço <p-sortIcon field="price"></p-sortIcon></th>
                <th pSortableColumn="alerts" style="min-width:10rem">Alertas <p-sortIcon field="alerts"></p-sortIcon></th>
                <th pSortableColumn="quantity" style="min-width:10rem">Quantidade <p-sortIcon field="quantity"></p-sortIcon></th>
                <th style="min-width:10rem"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{ product.category }}</td>
                <td>{{ product.subcategory }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.purchase_date | date:'dd-MM-yyyy' }}</td>
                <td>{{ product.expiry_date | date:'dd-MM-yyyy'  }}</td>
                <td>{{ product.price | currency:'BRL' }}</td>
                <td [style]="{'min-width': '5rem'}">
                    <ng-container *ngIf="isLowStock(product.quantity); else expirationAlert">
                        <p-tag value="Baixo estoque, repor." severity="warning" class="inventory-alert"></p-tag>
                    </ng-container>
                    <ng-template #expirationAlert>
                        <ng-container *ngIf="isNearExpiration(product.expiry_date); else defaultAlert">
                            <p-tag value="Próximo do Vencimento" severity="danger" class="inventory-alert"></p-tag>
                        </ng-container>
                        <ng-template #defaultAlert>
                            <td></td>
                        </ng-template>
                    </ng-template>
                </td>
                <td>{{ product.quantity }}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-sm p-button-rounded p-button-info p-button-text p-button-raised" (click)="editProduct(product._id)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-sm p-button-rounded p-button-danger p-button-text p-button-raised" (click)="deleteProduct(product._id)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog 
    [(visible)]="inventoryDialog"
    [style]="{ width: '450px' }"
    header="Detalhes do Produto"
    [modal]="true"
    styleClass="p-grid  p-fluid"
>
<ng-template pTemplate="content">
        <form [formGroup]="productForm">
            <div class="field">
                <label for="name">Nome do produto</label>
                <input type="text" pInputText id="name" formControlName="name" required autofocus />
                <small
                    class="p-error"
                    *ngIf="
                    productForm.controls['name'].invalid &&
                    productForm.controls['name'].dirty"
                    >Sub Categoria é obrigatório.
                </small>
            </div>
            <div class="field">
                <label class="form-label" for="category">Categoria</label>
                <p-dropdown
                    id="category"
                    formControlName="category"
                    [virtualScroll]="true"
                    [options]="categories"
                    placeholder="Selecione uma categoria"
                    [editable]="true"
                ></p-dropdown>
                <small
                    class="p-error"
                    *ngIf="
                    productForm.controls['category'].invalid &&
                    productForm.controls['category'].dirty"
                    >Categoria é obrigatório.
                </small>
            </div>
            <div class="field">
                <label for="subcategory">Sub Categoria</label>
                <input type="text" pInputText id="subcategory" formControlName="subcategory" required autofocus />
                <small
                    class="p-error"
                    *ngIf="
                    productForm.controls['subcategory'].invalid &&
                    productForm.controls['subcategory'].dirty"
                    >Sub Categoria é obrigatório.
                </small>
            </div>
            <div class="field">
                <label for="description">Descrição</label>
                <input
                    type="text"
                    pInputText
                    id="description"
                    formControlName="description"
                    required autofocus
                />
                <small
                    class="p-error"
                    *ngIf="
                    productForm.controls['description'].invalid &&
                    productForm.controls['description'].dirty"
                    >Descrição é obrigatório.
                </small>
            </div>
            <div class="p-grid p-fluid">
                <div class="form-row">
                    <label for="purchase_date">Data de compra</label>
                    <div class="form-input">
                        <p-calendar 
                            id="purchase_date"
                            formControlName="purchase_date"
                            appendTo="body"
                            [showButtonBar]="true"
                            placeholder="{{productForm.value.purchase_date  | date:'dd.MM.yy'}}"
                            dateFormat="dd.mm.yy"
                            inputStyleClass="small-input"
                        ></p-calendar>
                    </div>
                    <small
                        class="p-error"
                        *ngIf="
                            productForm.controls['purchase_date'].invalid &&
                            productForm.controls['purchase_date'].dirty"
                        >Data da compra é obrigatória.
                    </small>
                    <label for="expiry_date">Data de validade</label>
                    <div class="form-input">
                        <p-calendar
                            id="expiry_date"
                            formControlName="expiry_date"
                            appendTo="body"
                            [showButtonBar]="true"
                            placeholder="{{productForm.value.expiry_date  | date:'dd.MM.yy'}}"
                            dateFormat="dd.mm.yy"
                            inputStyleClass="small-input"
                        ></p-calendar>
                    </div>
                    <small
                        class="p-error"
                        *ngIf="
                            productForm.controls['expiry_date'].invalid &&
                            productForm.controls['expiry_date'].dirty"
                        >Data de validade é obrigatória.
                    </small>
                </div>
            </div>
            <div class="field row">
                <div class="field col">
                    <label for="price">Preço (unidade/ml)</label>
                    <p-inputNumber
                        id="price"
                        formControlName="price"
                        mode="currency"
                        currency="BRL"
                        locale="pt-BR"
                    ></p-inputNumber>
                </div>
                <div class="field col">
                    <label for="quantity">Quantidade (unidade/ml)</label>
                    <p-inputNumber
                        id="quantity"
                        formControlName="quantity"
                        autofocus
                    />
                    <small class="p-error" *ngIf="submitted && !inventory.quantity">Quantidade é obrigatória.</small>
                </div>
            </div>
        </form>
        
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" [disabled]="productForm.invalid" (click)="saveProduct()"></button>
    </ng-template>
</p-dialog>


<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>


